body { margin-top: 1.0em; background-color: #fff; font-family: Helvetica, FreeSans; font-size: .8em; color: #000; }
#container { margin: 0 auto; width: 700px; }
h1 { font-size: 3.8em; color: #555; margin-bottom: 3px; }
h1 .small { font-size: 0.4em; }
h1 a { text-decoration: none }
h2 { font-size: 1.5em; color: #555; }
h3 { text-align: center; color: #555; }
a { color: #900; }
.description { font-size: 1.2em; margin-bottom: 30px; margin-top: 30px; font-style: italic;}
.download { float: right; }
pre { background: #ccc; color: #000; padding: 15px; font-size: 1.3em; }
hr { border: 0; width: 80%; border-bottom: 1px solid #aaa}
.footer { text-align:center; padding-top:30px; font-style: italic; }